[submodule "submodules/gaussian-splatting"]
	path = submodules/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
[submodule "submodules/instruct-pix2pix"]
	path = submodules/instruct-pix2pix
	url = https://github.com/timothybrooks/instruct-pix2pix
